.i1{
	margin-left: 10px; /*字体间隔*/
}
.a1{
	background-color: rgb(253, 255, 233); /*输入框背景*/
}
.b1{
	/*图片缩放*/
	width: 85%;
	height: 85%;
	margin-left:5%;
	margin-top:5%;
}
.b2{
	/*输入框长度*/
	max-width:300px;
	min-width:150px;
	margin-top:5px;
}
.c1{
	/*完全居中*/
	position:relative;
	margin:0 auto;
	top:40%;
  	-webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
    transform: translateY(-40%);
}
.m1{
	/*图片自适应*/
	background-repeat:no-repeat;
	background-size:100% 100%;
	-moz-background-size:100% 100%;
}