.index-main{
	padding-top:10px;
	width:100%;
	min-height:400px;
	float:left;
}
.im-for{
	height:400px;
	width:52%;
	float:right;
}
.im-login{
	min-width:335px;
	width:46%;
	height:400px;
	float:right;
}
.form-signin{
	max-width: 300px;
    min-width: 150px;
	text-align:center;
}
.imf-img{
	width:90%;
	height:80%;
}
.im-upright{
	height:88%;
	margin:2% 3px 0 3px;
	float:left;
	border-left:1px red solid;
}
.header{
	width:100%;
	height:70px;
	position:relative;
}
.header-div{
	padding:12px 0 0 20px;
	height:100%;
}
.header-div img{
	height:100%;
}
#s1{
	float:right;
	font-size:20px;
	margin-right:15px;
	color:#757575;
}
#s1:hover{
	color:black;
}