.index-main{
	padding-top:50px;
	width:100%;
	min-height:400px;
	float:left;
}
.im-for{
	height:46%;
	width:52%;
	float:right;
}
.im-login{
	min-width:335px;
	width:46%;
	height:46%;
	float:right;
}
.form-signin{
	max-width: 300px;
    min-width: 150px;
	text-align:center;
}
.imf-img{
	width:90%;
	height:80%;
}
.im-upright{
	height:88%;
	margin:2% 3px 0 3px;
	float:left;
	border-left:1px red solid;
}